body {
  background-image: linear-gradient(rgb(31, 7, 110), rgb(20, 2, 40));
  color: white;
  margin: 0;
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 23px;
}

p {
  font-size: 20px;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  padding: 15px 0;
  height: 75px;
}

header img {
  width: 75px;
  height: 75px;
}

header a {
  text-decoration: none;
  color: white;
  padding: 20px;
}

header section {
  width: 100%;
  margin-left: -75px;
  text-align: center;
}

/* HOME */

main #Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  margin-top: -100px;
  margin-bottom: 50px;
}

main #Home h2 {
  font-size: 40px;
}

main #Home img {
  width: 500px;
  height: 500px;
}

/* Experiences */

main #Experiences {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 110px;
  margin-top: -110px;
  margin-bottom: 100px;
}

main #Experiences section {
  display: flex;
  width: 80%;
}

main #Experiences h2 {
  padding-bottom: 40px;
}

main #Experiences section div {
  padding: 30px;
  text-align: center;
}

main #Experiences section #Studies {
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
}

main #Experiences section #Front {
  border-top: 3px solid white;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
}

main #Experiences section #Back {
  border-top: 3px solid white;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
}

/* PROJECTS */

main #Projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -20px;
  padding-top: 20px;
}

main #Projects section {
  text-align: center;
  max-width: calc(100% / 3);
}

main #Projects section img {
  width: 250px;
  height: 165px;
  object-fit: cover;
}

main #Projects section #Date {
  font-style: italic;
}
