body {
  background-image: linear-gradient(#1f076e, #140228);
  color: white;
  margin: 0;
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 25px;
}

p,
a,
label,
input {
  font-size: 20px;
}

/* HEADER */
header {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  padding: 15px 0;
  height: 75px;
  width: 100%;
}
header svg {
  width: 5em;
}
header a {
  text-decoration: none;
  color: white;
  padding: 20px;
}
header nav {
  width: 100%;
  margin-top: -5em;
  text-align: center;
  display: flex;
  justify-content: center;
}

aside {
  display: none;
  /* HOME */
}

main #Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 130px;
  margin-top: -130px;
  margin-bottom: 50px;
  width: 100%;
  text-align: center;
}
main #Home h2 {
  font-size: 40px;
}
main #Home img {
  width: 30%;
  border-radius: 50%;
}

/* Experiences */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 110px;
  margin-top: -110px;
  margin-bottom: 100px;
}
main section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main h2 {
  padding-bottom: 40px;
}
main section div {
  padding: 30px;
  margin: 10px;
  text-align: center;
  width: 20%;
  border-radius: 15px;
}
main section div:nth-child(1) {
  border: 3px solid #15ff00;
}
main section div:nth-child(2) {
  border: 3px solid #0099ff;
}
main section div:nth-child(3) {
  border: 3px solid red;
}

/* PROJECTS */
main #Projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -100px;
  padding-top: 100px;
  flex-wrap: wrap;
}
main #Projects #AllProjects {
  display: flex;
  justify-content: space-evenly;
  align-items: first baseline;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
}
main #Projects #AllProjects section {
  width: 380px;
}
main #Projects #AllProjects section img {
  width: 90%;
  object-fit: cover;
}
main #Projects #AllProjects section #Date {
  font-style: italic;
}

/* STAGE */
main #Stage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  margin-top: -10px;
  text-align: center;
}
main #Stage img {
  width: 45%;
  padding: 30px 0;
}
main #Stage #MoneyStage {
  color: #15ff00;
  font-weight: bold;
  margin-top: -10px;
  padding-bottom: 20px;
}

/* FOOTER */
footer {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
}
footer section {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
}
footer section#LeftFooter ul {
  padding-left: 0;
}
footer section#LeftFooter ul li {
  list-style-type: none;
}
footer section#LeftFooter ul li a {
  color: white;
  text-decoration: none;
}
footer section#LeftFooter ul li a:hover {
  color: white;
  text-decoration: none;
}
footer section#LeftFooter ul li a:visited {
  color: white;
  text-decoration: none;
}
footer form {
  display: flex;
  flex-direction: column;
}
footer form label {
  padding-bottom: 10px;
}
footer form input, footer form textarea {
  max-width: 90%;
}
footer form #Button {
  width: 200px;
  text-align: center;
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 23px;
  }

  p, a {
    font-size: 17px;
  }

  /* TEMPORAIRE */
  header {
    display: flex;
    width: 100vw;
    justify-content: space-between;
  }
  header #navPC {
    display: none;
  }

  /* HOME */ 
  aside {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    width: 50%;
    height: 100%;
    margin-top: -5%;
    position: fixed;
    top: 124px;
    right: 0;
  }
  aside #navMobile ul {
    padding-left: 0;
  }
  aside #navMobile ul li {
    list-style-type: none;
  }
  aside #navMobile ul li a {
    color: white;
    text-decoration: none;
  }
  aside #navMobile ul li a:hover {
    color: white;
    text-decoration: none;
  }
  aside #navMobile ul li a:visited {
    color: white;
    text-decoration: none;
  }

  main #Home img {
    width: 75%;
  }
  main #Home h2 {
    font-size: 30px;
  }

  /* EXPERIENCES */
  #Experiences section {
    flex-direction: column;
    align-items: center;
  }
  #Experiences section div {
    width: 30%;
  }

  /* PROJETS & STAGE */
  #Projects img, #Stage img {
    width: 75%;
  }
  #Projects p, #Stage p {
    margin: 5% 10%;
  }
}